.prom{
    display: flex;
    padding: 1rem;
    height: 80vh;
    width: 100%;
    position:relative;
    margin-bottom: 4rem;
    align-items: center;
    justify-content: center;  
}


.prom::before{
    content: '';
    background: url('../../../assets/Bg3.png')no-repeat center center/cover;
    height: 100%;
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.prom-container{
    display: flex;
    width:40%;
    height: 50%;
    background-color: #fff;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    border: solid #fff;
    border-width: 1px;
    padding: 1rem;
    align-items: center;
    justify-content: center;  
}
.prom-container img {
    max-width: 312px;
}
.prom-content span {
    font-size: 18px;
    font-weight: 400;
    text-decoration: line-through;
    color:rgba(148, 163, 184, 1);
    margin-right: .5rem;
}

.prom-content h3{
    color: #006633;
   
}

.prom-content h2{
    color: #FF7C08;
} 
.prom-container button{
    background-color: #006633;
    border: 1px solid #006633;
    color: #fff;
    padding: 10px;
    margin-top: 1.5rem;
    width: 150px;
    margin-right: 10px;
    cursor: pointer;
}