.deals{
    align-items: center;
    justify-items: center

}

.deals .deals-heading-container{
    align-items: center;
    justify-items: center;
}

.deals-heading {
    color:#FF7C08;
    align-items: center;
}
.deals-heading2 {
    color:#FF7C08;
}

.con-heading {
    display: flex;
        /* flex: 0 0 75%;
    margin-left: 10px; */
    justify-content:space-around;
}

.cat-heading h3 {
    margin-left: 10px;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
 
}

.con-heading .deals-btn{
    background-color:#006633;
    width: 175px;
    color: #fff;
    border-style: none;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    margin-bottom: .5rem;
    /* margin-top: 1.5rem;
   
    margin-right: .5rem;  */
}


.deals-parent-container{
    display: flex;
   
}

.deals-items-details-container p {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;

}
.deals-items-details-container h3{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;

}

.deals-items-cards{
    border: solid #fff;
    background-color: #f8f8f8;
    align-items: center;
    text-align: center;
    width: 315px;
    /* height: 491px; */
    gap: 0px;
    opacity: 0px;
}

.deals-item-amount-deco{
    font-size: 18px;
    font-weight: 400;
    text-decoration: line-through;
    color:rgba(148, 163, 184, 1);
    margin-right: .5rem;
}

.deals-item-amount-new{
    color:#006633;
    font-weight: bold;
}


.deals .deals-viewdetails-icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;

}
.deals-viewdetails-btn {
    margin-right: 10px;
    padding: 8px 18px;
    border: 2px solid #006633;
    background-color: #006633;
    color: #ffffff;
    border-radius: .2rem;

}

.deals-viewdetails-shoppingbag-btn{
    padding: 4px;
    border: 2px solid #006633;
    border-radius: 25px;
}

.deals-rating img {
    margin-left: 10px;
    margin-top: 10px;
}
.deals-rating .count{
    margin-bottom: 0;
}

