.cheff{
    display: flex;

}

.cheff-parent-container{
    display: flex;
   
}

.cheff-items-details-container p {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;

}
.cheff-items-details-container h3{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;

}

.cheff-items-cards{
    border: solid #fff;
    background-color: #f8f8f8;
    align-items: center;
    text-align: center;
    width: 315px;
    /* height: 491px; */
    gap: 0px;
    opacity: 0px;
}

.cheff-item-amount-deco{
    font-size: 18px;
    font-weight: 400;
    text-decoration: line-through;
    color:rgba(148, 163, 184, 1);
    margin-right: .5rem;
}

.cheff-item-amount-new{
    color:#006633;
    font-weight: bold;
}


.cheff .cheff-viewdetails-icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;

}
.cheff-viewdetails-btn {
    margin-right: 10px;
    padding: 8px 18px;
    border: 2px solid #006633;
    background-color: #006633;
    color: #ffffff;
    border-radius: .2rem;

}

.cheff-viewdetails-shoppingbag-btn{
    padding: 4px;
    border: 2px solid #006633;
    border-radius: 25px;
}

.cheff-rating img {
    margin-left: 10px;
    margin-top: 10px;
}
.cheff-rating .count{
    margin-bottom: 0;
}

