.categories {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-items: center;
}

.categories h4{
    color: #FF7C08;
    text-transform: uppercase;
    font-size: 10px;
    align-items: center;
  
}
.categories h2 >span{
    color: #FF7C08;

}
.categories .image-container{
    display: flex;
    align-content: center;
    align-items: center;
}

.image-cards{
    border: solid #fff;
    background-color: #f8f8f8;
    align-items: center;
    text-align: center;
    padding: 1rem;
    border-width: 1px;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    margin-right: .5rem;
}

.img-1{
    background-color: #FF7C08;
    color: #fff;
}

.cat-heading {
    display: flex;
        /* flex: 0 0 75%;
    margin-left: 10px; */
    justify-content: space-between;
}

.cat-heading h3 {
    margin-left: 10px;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
 
}

.cat-heading .cat-btn{
    background-color:#006633;
    width: 175px;
    color: #fff;
    border-style: none;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    margin-bottom: .5rem;
    /* margin-top: 1.5rem;
   
    margin-right: .5rem;  */
}

.categories-parent-container{
    display: flex;
   
}

.categories-items-details-container p {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;

}
.categories-items-details-container h3{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;

}

.categories-items-cards{
    border: solid #fff;
    background-color: #f8f8f8;
    align-items: center;
    text-align: center;
    width: 315px;
    /* height: 491px; */
    gap: 0px;
    opacity: 0px;
}

.categories-item-amount-deco{
    font-size: 18px;
    font-weight: 400;
    text-decoration: line-through;
    color:rgba(148, 163, 184, 1);
    margin-right: .5rem;
}

.categories-item-amount-new{
    color:#006633;
    font-weight: bold;
}


.categories .categories-viewdetails-icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;

}
.categories-viewdetails-btn {
    margin-right: 10px;
    padding: 8px 18px;
    border: 2px solid #006633;
    background-color: #006633;
    color: #ffffff;
    border-radius: .2rem;

}

.categories-viewdetails-shoppingbag-btn{
    padding: 4px;
    border: 2px solid #006633;
    border-radius: 25px;
}

.rating img {
    margin-left: 10px;
    margin-top: 10px;
}
.rating .count{
    margin-bottom: 0;
}

